html {
  font-size: 100%;
}

body {
  font-size: 1.4rem;
}

h1 {
  padding: 0.2em;
  color: #494949;
  background: #fffaf4;
  border-left: solid 15px #ffaf58;
  border-bottom: solid 3px #d7d7d7;
}

h2 {
  padding: 0.1em;
  border-left: solid 20px #ffaf58;
}

table, td {
  border: 1px solid black;
}

tr {
  text-align: center;
}

.normal {
  color: initial;
  background: initial;
  padding: initial;
  border-left: initial;
  border-bottom: initial;
}

.w300 {
  width: 300px;
}
